{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "QUnit": false,
    "Backbone": true,
    "_": true,
    "$": true
  },
  "extends": ["eslint:recommended", "standard", "eslint-config-problems", "plugin:promise/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}