{
    "env": {
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "promise"
    ],
    "extends": [
        "standard",
        "eslint:recommended",
        "eslint-config-problems",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "semi": [
            "error",
            "always"
        ]
    },
    "globals": {
        "QUnit": false,
        "Backbone": true,
        "_": true,
        "$": true
    }
}