{
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["plugin:you-dont-need-lodash-underscore/compatible", "eslint:recommended", "eslint-config-problems", "standard"],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}