<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Backbone.js</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style>
   {% include screen.css %}
  </style>
</head>
<body>
  <header class="container-fixed">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="https://github.com/documentcloud/backbone/wiki/Extensions%2C-Plugins%2C-Resources">Plugins</a></li>
        <li><a href="/demos">Demos</a></li>
      </ul>
    </nav>
    <h1 id="title" class="os-light">
      Backbone.js
    </h1>
    <h2 id="subtitle" class="os-light">JavaScript Common Sense</h2>
  </header>
  <hr class="space">
  
  {{ content }}
  
  <hr class="space">

  <footer class="container-fixed">
    <section class="third">
      <h3><a href="/">Backbone.js</a></h3>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="documentation">Documentation</a></li>
          <li><a href="plugins">Plugins</a></li>
          <li><a href="demos">Demos</a></li>
        </ul>
      </nav>
    </section>
    <section class="third">
      <h3>Meta</h3>
      <nav>
        <ul>
          <li><a href="http://github.com/documentcloud/backbone/">GitHub project</a></li>
          <li><a href="docs/backbone.html">Annotated source</a></li>
          <li><a href="test/test.html">Hosted test suite</a></li>
          <li><a href="examples/todos/index.html">Example application</a></li>
          <li><a href="https://github.com/documentcloud/backbone/wiki/Tutorials%2C-blog-posts-and-example-sites">list of tutorials</a></li>
        </ul>
      </nav>
    </section>
    <section class="third">
      <nav>
        <h3>Community/Support</h3>
        <ul>
          <li><a href="https://github.com/documentcloud/backbone/wiki/">Project Wiki</a></li>
          <li><a href="http://github.com/documentcloud/backbone/issues">GitHub issues page</a></li>
          <li><tt>#documentcloud</tt></li>
          <li><a href="https://groups.google.com/forum/#!forum/backbonejs">Google Group</a></li>
          <li><a href="http://twitter.com/documentcloud">@documentcloud</a></li>
        </ul>
      </nav>    
    </section>
  </footer>  
  <hr class="space">
  <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

  <script src="../test/vendor/underscore-1.1.6.js"></script>
  <script src="../test/vendor/jquery-1.5.js"></script>
  <script src="../test/vendor/json2.js"></script>
  <script src="../backbone.js"></script>

  <script>
    // Set up the "play" buttons for each runnable code example.
    $(function() {
      $('.runnable').each(function() {
        var code = this;
        var button = $('<div class="run" title="Run"></div>');
        $(button).insertBefore(code).bind('click', function(){
          eval($(code).text());
        });
      });
    });
  </script>
</body>
</html>