/* ========= */
/* = Steps = */
/* ========= */

.AB-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lucida Grande', Helvetica, sans-serif;
    float: left;
}

.AB-steps .AB-step {
    background-color: #E0E0E0;
    border: 1px solid #C0C0C0;
    padding: 8px;
    text-align: center;
    width: 200px;
    margin: 4px 0 0;
    font-size: 14px;
    cursor: pointer;
}

.AB-steps .AB-step:hover {
    background-color: #E0FF40;
}

.AB-steps .AB-step.AB-active {
    background-color: #256900;
    color: white;
    cursor: default;
}

.AB-steps .AB-step.AB-last {
    margin-right: 0;
}

.AB-steps .AB-step .AB-step-prefix {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

/* ============ */
/* = MVC Code = */
/* ============ */

.AB-mvc {
    margin: 0 0 0 24px;
    float: left;
    display: none;
    width: auto;
}

.AB-mvc.AB-active { 
    display: block;
}

.AB-mvc .AB-mvc-component {
    width: 100%;
    padding: 8px;
    background-color: #F9F9F9;
}
.AB-mvc .AB-mvc-code {
    font-family: monospace;
    white-space: pre;
}